@import "../../../Estilos/styles.scss";

.btns{
    padding: .5em;
    display: flex;
    justify-content: space-around;
    //border-top: 2px solid $primaryColor;

    .btn{
        display: flex;
        align-items: center;

        svg{
            margin-right: .5em;
        }
        color: $white;
        background-color: $secondaryColor;
        transition: 200ms;

        &:hover{
            color: $fourthColor;
            background-color: $primaryColor;
        }

    }
}    