$primaryColor: #6befd2;
$secondaryColor: #00719e;
$thirdColor: #eceeb3;
$fourthColor: #003153;
$white: #FFF;
$gray: rgb(243, 243, 243);
$gray2: rgb(170, 170, 170);
$gray3: rgb(201, 201, 201);
$gray4: rgb(153,153,153, .288);
$gradientColor1: #251738;
$gradientColor2: #3d2d54;
$primarygradient: linear-gradient(90deg, #6befd2, #00719e);
$secondarygradient: radial-gradient(circle, #251738, #3d2d54);