@import '../Estilos/styles.scss';

.container{
    padding: 0;
    margin-top: 12px;
}

#title-container{
    padding-left: 15px;
}

title:before{
        content: '';
        width: 75px;
        margin: 50px;
        border-top: 50px solid $primaryColor;
        position: absolute;
}

h2{
    font-weight: 700;
    text-shadow: #000 2px 2px 2px;
    
    &:before{
        width:  120px;
        margin-top: 38px;
        border-bottom: 2px solid $primaryColor;
        content: '';
        position: absolute;
        box-shadow: #000 2px 2px 2px;
    }
}

h2, h3{
    color: $primaryColor;
}

h4 {
    font-weight: 700;
    color: $white;
}

p{
    color: $white;
}

#title-container{
    padding: 20px;
    background-color: $fourthColor;
    margin-top: -12px;
}

#column-img{
    padding: 0;
    margin: 0;
    position: relative;
    flex-direction: column;
    background-color: #101925;
}

#column-text{
    padding-top: 15px;
    position: relative;
    flex-direction: column;
    background-color: $secondaryColor;
}