@import '../../Estilos/styles.scss';

#listaContas{
    display: flex;
  
    .content{
        height: 100%;
        width: 100%;
        
        background-color: $gray;
    }

    .dados-despesas{
        display: flex;
        justify-content: flex-start;
    }

    .dados-receitas{
        display: flex;
        justify-content: flex-start;
    }
    
}