@import "../Estilos/styles.scss";

#footerContainer{
    background: $primarygradient;
    height: 4vh;
    margin: 0;
    padding: 0;

    svg, a{
        text-decoration: none;
        color: $fourthColor;
    }
}

#divFooter{
    height: 100%;
    align-items: center;
    justify-content: center;

    &:hover{

        svg,a{
            color: $primaryColor;
        }
    }
}